/* DECLARAÇÃO DAS FONTES */
@font-face {

    font-family: "Highstories Sans";
    src: url(../fonts/highstories_sans/Highstories-Sans.otf);
}

@font-face {

    font-family: "Bebas Neue";
    src: url(../fonts/bebas_neue/BebasNeue-Regular.otf);
}

@font-face {
    font-family: "Mermaid";
    src: url(../fonts/mermaid/Mermaid1001.ttf);
}

@font-face {
    font-family: "Fira Sans";
    src: url(../fonts/FiraSans-Regular.ttf);
}

/* PROGRAMS TEMPLATE */

#page ul {

    list-style-type: none;

}

#page h3 {

    font-family: "Bebas Neue";
}

#page p {

    font-family: "Fira Sans";
}

.destaque {

    color: #954985;
}

/* CAROUSEL AND ACCORDION */


.card-carousel {

    max-width: 600px;
}


#accordion .card {

    width: 600px;
}

#accordion span {

    float: right;
    color: white;
}

#accordion .embed-responsive {

    width: 15rem;
    height: 15rem;
    float: left;

}

/*#accordion .card-body {*/

    /*display: inline-block;*/

/*}*/

#accordion .card-body ul {

    padding-left: 10px;
}

/* FIM PROGRAMAS TEMPLATE */

/* FOOTER */

.footer-distributed{
    background-image: linear-gradient(#333333, #3E9DB0);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    font: bold 16px sans-serif;
    display: flex;
    display:-webkit-flex;
    padding-right: 50px;
    padding-left: 50px;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    align-items: baseline;
}

.footer-left img {

    max-width: 150px;
}


.footer-distributed .footer-left{
    order: 1;
    flex-grow: 1;
    flex-basis: content;
    align-self: center;
    margin: auto;
    text-align: left;
}

.footer-distributed .footer-links{
    color:  #ffffff;
    margin: 20px 0 12px;
    padding: 0;
    text-align: left;
}

.footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    font-weight: lighter;
    color:  white;
    text-align: left;
    font-family: "Fira Sans";
}


.footer-distributed .footer-links a:hover{
    color:  #8f9296;
}

.footer-distributed .footer-company-name{
    color:  #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    text-align: left;
    font-family: "Fira Sans";
}

.footer-distributed .footer-center{
    order: 2;
    flex-grow: 1;
    flex-basis: content;
    align-self: center;
    margin: auto;
    text-align: left;

}

.footer-distributed .footer-center i{
    background-color:  #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 20%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}


.footer-distributed .footer-center p{
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin:0;
    font-family: "Fira Sans";
    font-weight: lighter;
}


.footer-distributed .footer-center p span{
    display:block;
    font-size:16px;
    line-height:2;
    color: lightgrey;
    font-family: "Fira Sans";
}

.footer-distributed .footer-center p a{
    color:  white;
    text-decoration: underline;
}

.footer-distributed .footer-center p a:hover {

    color: #333333;
}


.footer-distributed .footer-right{
    order: 3;
    flex-grow: 1;
    flex-basis: content;
    margin: auto;
    text-align: center;

}

.footer-right iframe {
    min-width: 400px;
    -moz-border-radius:6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -moz-box-shadow: 4px 4px 14px #000;
    -webkit-box-shadow: 4px 4px 14px #000;
    box-shadow: 4px 4px 14px #000;
    filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=.2);
}

.footer-right iframe:hover {

    -moz-box-shadow: 8px 8px 14px #000;
    -webkit-box-shadow: 8px 8px 14px #000;
    box-shadow: 8px 8px 14px #000;


}

/* FIM FOOTER */

/* NAVEGAÇÃO */

.navbar {

    background-color: white;

}

.nav-item

{
    font-family: "Highstories Sans" ;
}


ul.nav a:hover {
    color: #3E9DB0 !important;
}
.nav {

    max-height: 80px;
}

/* FIM NAVEGAÇÃO */

/* TEXTO DE DEPOIMENTOS */

#wrapper {

    width: 100%;
}



.text-performance {

    padding: 30px;
    text-align: center;

}

.text-performance h2 {

    margin: 30px;
}



.text-animation {
    -webkit-animation: fadein 6s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 6s; /* Firefox < 16 */
    -ms-animation: fadein 6s; /* Internet Explorer */
    -o-animation: fadein 6s; /* Opera < 12.1 */
    animation: fadein 6s;
}

@keyframes fadein {
    0%{
        opacity: 0;
        transform: translateY(-25px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
#text-wrapper {

    align-content: center;
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center;
    vertical-align: middle;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #C1C0B4;
    margin: 1em 0;
    padding: 0;
}

.depoimentos {

    width: 100%;
    text-align: center;
    background: #333333;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 10px;
    display: inline-block;
    vertical-align: center;

    -webkit-animation: fadeind 3.5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadeind 3.5s; /* Firefox < 16 */
    -ms-animation: fadeind 3.5s; /* Internet Explorer */
    -o-animation: fadeind 3.5s; /* Opera < 12.1 */
    animation: fadeind 3.5s;
}

@keyframes fadeind {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

h1 {
    font-family: "Bebas Neue";
    font-size: 55px;
    color: #C1C0B4;
}

h2 {

    font-family: "Mermaid";
    font-size: 25px;

}

.quote {

    font-family: "Mermaid";
}

#main-quote {

    width: 50%;
    float: left;

}

#s-quote {

    width: 50%;
    float: right;
}

#s-quote p, .blue-t {

    color: #3E9DB0;
}

#main-quote p {

    color: #954985;
}

.contact100-form-btn {

    font-family: "Bebas Neue";
}
#main-quote blockquote {

    font-family: "Bebas Neue";
    font-size: 45px;
}

blockquote {

    font-family: "Mermaid";
    font-size: 20px;
    color: #C1C0B4;
}

/* FIM TEXTO DE DEPOIMENTOS */

/* Grid de Imagens * /*/


.cabecalho-imagens {

    display: flex;
    display:-webkit-flex;
}
.coluna-dir, .coluna-esq {

    flex: 50%;
    -webkit-flex: 50%;
}

.overlay-image img {

    max-height: 100%;
}

.texto-central {
    margin: 0px;
    position: absolute;
    left: 75%;
    transform: translate(-50%, -50%); /* precise centering; see link below */
    color: white;
    font-family: "Bebas Neue";
    font-size: 60px;
}

.coluna-esq {

    position: relative;
}

.texto-esquerda {
    margin: 0px;
    position: absolute;
    top: 60%;
    left: 25%;
    display: flex;
    display:-webkit-flex;
    flex-direction: column;

}

.highlight {
    background-color: #333333;
    color: white;
    font-family: "Mermaid";
    font-size: 55px;
    margin-top: 20px;
    padding: 0;
    text-align: center;
}

.coluna-esq img {

    max-width: 100%;
    object-fit: cover;

}


.coluna-dir .overlay-image {

    max-height: 25%;
    max-width: 100%;
    flex-grow: 0;
    flex-basis: 100%;
    flex-shrink: 1;
    -webkit-flex-grow: 0;
    -webkit-flex-basis: 100%;
    -webkit-flex-shrink: 1;
    position: relative;
    text-align: center;
    color: white;

}

.overlay-for-image {

    background-color: #333333;
    opacity: 0.4;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

.areas-img {
    width: 100%;
    object-fit: cover;
}

.texto-central {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.coluna-dir {

    display: flex;
    display:-webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 675px;

}

.coluna-esq img {

    min-height: 675px;

}

#health {

    background-color: white;

}

#health .text {

    color: #333333;
}

#atletic {

    background-color: #3E9DB0;
}

#sports {

    background-color: mediumseagreen;
}

#kids {
    background-color: #954985;
}

.overlay-text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}

.overlay-image:hover .overlay-text {
    opacity: 0.8;
}

.overlay-image:hover .texto-central {

    opacity: 0;
}


.overlay-text .text {
    color: white;
    font-size: 20px;
    font-family: "Fira Sans";
    position: absolute;
    width: 80%;
    height: 80%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

#spacer {

    height: 340px; float:left; display:inline-block;
}

/* FIM DO GRID DE IMAGENS */

/* MEDIA QUERIES */

/*@media screen and (max-width: 400px) {*/

    /*.footer-right iframe {*/
        /*max-width: 350px;*/
        /*min-width: 100px;*/
    /*}*/

    /*.cabecalho-imagens {*/
        /*-webkit-flex-direction: column;*/
        /*flex-direction: column;*/
    /*}*/

    /*.coluna-dir .overlay-image img {*/

        /*max-height: 250px;*/
    /*}*/


    /*.footer-distributed {*/
        /*-webkit-flex-direction: column;*/
        /*flex-direction: column;*/

    /*}*/

    /*.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {*/

        /*margin: 0;*/
        /*padding-right: 10px;*/
        /*padding-top: 15px;*/
        /*align-self: flex-start;*/

    /*}*/

    /*.footer-distributed .footer-center i, .footer-distributed .footer-center a{*/
        /*margin-left: 0;*/
    /*}*/

    /*.depoimentos #main-quote, .depoimentos #s-quote {*/
        /*display: block;*/
        /*width: 100%;*/
        /*margin-bottom: 40px;*/
        /*text-align: center;*/
    /*}*/

    /*#text-wrapper {*/

        /*padding-left: 0px;*/
        /*padding-right: 0px;*/
        /*text-align: center;*/
        /*vertical-align: center;*/
    /*}*/


    /*.texto-esquerda .highlight {*/

        /*font-size: 40px;*/
        /*margin-top: 15px;*/
    /*}*/

/*}*/

@media screen and (max-width: 980px) {

    .texto-esquerda .highlight {

        font-size: 40px;
        margin-top: 15px;
    }

    .coluna-dir .img {

        min-height: 400px;
    }

    .coluna-dir {

        max-height: 1600px;
        height: 200%;
    }

    .footer-right iframe {
        max-width: 350px;
        min-width: 100px;
    }

    .cabecalho-imagens {
        -webkit-flex-direction: column;
        flex-direction: column;
    }


    .footer-distributed {
        -webkit-flex-direction: column;
        flex-direction: column;

    }

    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {

        margin: 0;
        padding-right: 20px;
        padding-top: 15px;
        align-self: flex-start;

    }

    .footer-distributed .footer-center i, .footer-distributed .footer-center a{
        margin-left: 0;
    }

    .depoimentos #main-quote, .depoimentos #s-quote {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    #text-wrapper {

        padding-left: 0px;
        padding-right: 0px;
        text-align: center;
        vertical-align: center;
    }

    .overlay-text .text {

        font-size: 15px;
        width: 90%;
        height: 90%;

    }


}